@media only screen and (min-width: 601px) {
  .loginHeader{
        height:100px;
        display:flex;
        justify-content:space-between;
        align-items:flex-end;
    }
    .logoSize{
        height:35px;
        margin:20px;
    }
    .heading{
        color:#44469e;
        font-weight:400;
        font-size:30px;
    }
    .sideLogo{
        display:flex;
        width:25vw;
        align-items:flex-end;
    }
    .cardSize{
        width:40%;
        margin-left:auto;
        margin-right: auto;
        margin-bottom: 20%;;
    }
    .loginBackground{
        height:570px;
        background-image:url("http://www.bpitindia.com/images/slide-2.jpg");
        padding:7% 0;
      }
      
}


@media only screen and (max-width: 600px) {
    .loginHeader{
          max-height:12vh;
          display:flex;
          justify-content:space-between;
          align-items:flex-end;
      }
      .logoSize{
          height:5vh;
          width:25vw;
          margin-top:6vw;
          margin-left:3vw;
        }
        .heading{
            color:#44469e;
            font-weight:400;
            font-size:20px;
            margin-left:10%;
        }
        .sideLogo{
            display:none;
        }
        .cardSize{
            width:90%;
            margin:25% auto;
        }
        .loginBackground{
            min-height:740px;
            background-image:url("http://www.bpitindia.com/images/slide-2.jpg");
            padding:10% 0;
          }
          
  }