@media only screen and (min-width: 601px) {
    .sidenav{
    background-color:black;
    height:100vh;
    max-height: 52vw;
    overflow-y: scroll;
    }
    .sidenav a{
      padding: 30px 0 0 0;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      height:50px;
      display: block;
      outline:none;
    }
    .sidenav a:hover{
      padding: 30px 0 0 0;
      text-decoration: none;
      font-size: 25px;
      color: white;
      height:50px;
      display: block;
      outline:none;
    
    }  
    .main2{
      margin-top:0px;
      overflow:hidden;
    }  
}
@media only screen and (max-width: 600px) {
  .sidenav{
    background-color:black;
    height:100vh;
    overflow-y: scroll;
    }
    .sidenav a{
      padding: 30px 0 0 0;
      text-decoration: none;
      font-size: 14px;
      color: #818181;
      height:50px;
      display: block;
      outline:none;
    }
    .sidenav a:hover{
      padding: 30px 0 0 0;
      text-decoration: none;
      font-size: 14px;
      color: white;
      height:50px;
      display: block;
      outline:none;
    }  
    .main2{
      margin-top:30px;
      overflow:hidden;
    }
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-area{
  display:grid;
  grid-template-columns: 28vw 71.3vw ;
}
.someHeader{
  display:flex;
  color:white;
  justify-content:center;
  background-color:#147fd1;
  height:5vw;
  font-weight:bolder;
  align-items:center;
  font-size:30px;
}
.someHeader span{
  width:400px;
  text-align:center;
}
.choiceSelection{
  display:flex;
  flex-direction:column;
}
.choiceSelection div{
  height:20vw;;
}
.choiceSelection div button{
  color:white;
  font-weight:800;
  padding:10px;
  background-color:#147fd1;
  outline:none;
  transition-duration:200ms;
}
.choiceSelection div button:active{
  /* color:black;
  font-weight:800;
  padding:10px;
  background-color:#147fd1; */

}
.choiceSelection div button:hover{
   font-weight:800;
  padding:10px;
  color:#147fd1;
  background-color:white;
  outline: none;
  /*border:1px solid #147fd1; */
}
.BrowseFile{
  display:flex;
  justify-content: center;
}
.input-block
{
  display:flex;
  justify-content:space-between;
}
.input-block input
{
  width:70%;
}
.input-block label
{
align-self: center;
}
.input-block select
{
  width:70%;
}
.someclass{
  justify-content:"flex-end";
}
